.background {
    margin: 0;
    padding: 0;
    background-color: #ff8c24;
}
.big-text {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    text-align: center;
}

.pure-menu-children {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #ff8c24;
    border: 1px solid #ffdf73;
    padding: 5px;
}

.pure-menu-item:hover > .pure-menu-children {
    display: block;
}

.pure-menu-item.pure-menu-has-children:hover > .pure-menu-children,
.pure-menu-item.pure-menu-has-children:focus-within > .pure-menu-children {
    display: block;
}

.table {
    text-align: center;
}

.status-container {
    display: flex;
    justify-content: center;
}

.status-container table {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.create-container table{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.decisions {
    margin: 2.5em auto;
    width: 50%;
    text-align: center;

}

.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
    width: auto;
    font-size: 100%;
    margin: 0 10px;
}

.button-error {
    background: rgb(202, 60, 60);
}

.status-buttons button{
    display: inline-block;
    margin-bottom: 2em;
    margin-right: 2em;
}

.status-buttons {
    text-align: center;
}